@charset "UTF-8";

/* https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b */

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul,
ol {
  list-style: none;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

/* Basic */

/* Basic */

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

/* Utilities */

/* Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/* Navbar */

/* Navbar */

.navbar {
  background-color: #047aed;
  color: #fff;
  height: 70px;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link {
  color: #fff;
  padding: 10px;
}

.link:hover {
  border-bottom: 2px solid #fff;
}

.menu__link {
  margin: 0 5px;
}

.navbar_flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Showcase */

/* Showcase */

.showcase {
  height: 400px;
  background-color: #047aed;
  color: #fff;
  position: relative;
}

.showcase_grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase__title {
  font-size: 40px;
}

.showcase__description {
  margin: 20px 0;
}